.contact-section {
  width: 100%;
  height: 100vh;
}
.contact-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.contact-header > h1 {
  font-size: 3em;
  color: #94ff52;
  padding: 50px;
}
.contact-me {
  width: 100%;
  display: flex;
  align-items: center;
}

/* Form styles */
.form-section {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 90%;
  height: 80vh;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main-info, .message-submit, .button-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-submit {
  justify-content: flex-start;
}
label {
  font-size: 2.5em;
  margin: 20px 0;
}
.info-box01, .info-box02 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 80px;
}
.info-box03 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 80px;
}
.info-box03 > input {
  width: 90%;
  height: 10vh;
}
input {
  width: 50%;
  height: 3vh;
}
.button-cont > button {
  width: 10%;
  padding: 1%;
}