.contact-section {
  width: 100%;
  height: 100vh;
}
.contact-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.contact-header > h1 {
  font-size: 3em;
  color: #94ff52;
  padding: 50px;
}
.contact-me {
  width: 100%;
  display: flex;
  align-items: center;
}
.icons-section {
  width: 30%;
}
.form-section {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  width: 90%;
  height: 80vh;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.form-box1, .form-box2 {
  width: 50%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 30px;
}
.form-box > input {
  width: 70%;
  height: 25vh;
}
label {
  font-size: 2.5em;
}