.navbar {
	display: flex;
	height: 5vh;
}
.navbar > img {
	background-color: #fff;
	margin: 10px;
	margin: 0 auto 0 10px;
}
.menu {
	display: flex;
	list-style: none;
}
.menu li {
	margin: 10px;
	cursor: pointer;
}
.menu li:hover {
	border-bottom: 1px solid #fff;
}
li > a {
	text-decoration: none;
	color: #fff;
}