.navbar {
	display: flex;
	height: 7vh;
}
.navbar > img {
	background-color: #fff;
	margin: 10px;
	margin: 0 auto 0 10px;
}
.menu {
	display: flex;
	list-style: none;
	align-items: center;
}
.menu li {
	margin: 10px;
	cursor: pointer;
}
#anchor01:hover {
  border-bottom: 2px solid #94FF52;
}
#anchor02:hover {
  border-bottom: 2px solid #FFE600; 
}
#anchor03:hover {
  border-bottom: 2px solid #00FFF0; 
}
#anchor04:hover {
  border-bottom: 2px solid #94FF52; 
}
li > a {
	text-decoration: none;
	color: #fff;
}